header{
    display: flex;
    background-color: rgba(33, 59, 138, 0.673);
    height: 50px;
    border-radius: 5px;
}
.lab{
    align-items: center;
    display: flex;
    margin-left: 1rem;
}
.btn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}
.python{
    text-decoration: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 2.3rem;
    width: 10rem;
}
.html{
    text-decoration: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 2.3rem;
    width: 10rem;
}
.django{
    text-decoration: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 2.3rem;
    width: 10rem;
}
.pdf-download{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}
.pdf-download2{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.html1_quickref{
    text-decoration: none;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    height: 2.3rem;
    width: 10rem;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.707);
    cursor: default;
}