header{
    display: flex;
    background-color: rgb(0, 64, 255);
    height: 50px;
}
.lab{
    align-items: center;
    display: flex;
}
.btn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}
.python{
    text-decoration: none;
    margin-top: 50px;
    margin-left: 25px;
}
a{
    text-decoration: none;
}header{
    display: flex;
    background-color: rgb(0, 64, 255);
    height: 50px;
}
.lab{
    align-items: center;
    display: flex;
}
.btn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}
.python{
    text-decoration: none;
    margin-top: 50px;
    margin-left: 25px;
}
a{
    text-decoration: none;
}header{
    display: flex;
    background-color: rgb(0, 64, 255);
    height: 50px;
}
.lab{
    align-items: center;
    display: flex;
}
.btn{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 1rem;
}
.python{
    text-decoration: none;
    margin-top: 50px;
    margin-left: 25px;
}
a{
    text-decoration: none;
}
